:root {
    /*-----------------------------font-size------------------------*/
    --fs-xxl: 48px;
    --fs-2xl: 64px;
}
/* -----------font size----------- */
.head{
    font-size: var(--fs-xxl);
}
.sub-heading{
    font-size: var(--fs-xxl);
}
.main-head{
    font-size: var(--fs-2xl);
}